<section class="container-fluid padding-top-3x">
   <!-- .row -->
   <div class="row padding-top">
      
      <!-- .col-lg-3.col-md-4 -->
      <!-- Products -->

        <div class="container">
            <%= form_for @etabs_filiere  do |f| %>

                <fieldset class="form-group">
                    <label for="filiere">Filiere</label>
                    <%= f.collection_select :filiere_id, Filiere.order(:filiere), :id, :filiere, include_blank: true %>
                </fieldset>

                <fieldset class="form-group">
                    <label for="niveau">Niveau</label>
                    <%= f.collection_select :niveau_id, Niveau.order(:niveau), :id, :niveau, include_blank: true %>
                </fieldset>

                <fieldset class="form-group">
                    <label for="place">Nombre de place</label>
                    <%= f.number_field :place %>
                </fieldset>

                <%= f.submit "Ajouter", class: "btn btn-primary" %>
                <%= link_to "Voir mes matières", etabs_filiere_path(current_user.etab.id), class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</section>