
<section class="container-fluid padding-top-3x">
    <!-- .row -->
    <div class="row padding-top">
        <div class="container">
            <div class="row"><h1>TOUS MES FILIERES</h1></div>
            <div>
                <table>
                    <thead>
                        <th>Matière</th><th>Niveau</th><th>Nombre place</th><th></th>
                    </thead>
                    <% if @e_f_n != nil %>
                        <% @e_f_n.each do |list| %>
                        <tr>
                            <td><%= list.filiere.filiere %></td>
                            <td><%= list.niveau.niveau %></td>
                            <td><%= list.place %></td>
                            <% if user_signed_in? 
                                if current_user.role == "responsable"
                                    if list.etab == current_user.etab %>
                                        <td><%= link_to "Supprimer", etabs_filiere_path(list.id), method: :delete %></td>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </tr>
                        <% end %>
                    <% end %>
                </table>
            </div>
            
        </div>
    </div>
</section>

<section class="container-fluid padding-top-3x">
   <!-- .row -->
   <div class="row padding-top">
      
      <!-- .col-lg-3.col-md-4 -->
      <!-- Products -->

        <div class="container">
            <%= form_for @etabs_filiere  do |f| %>

                <fieldset class="form-group">
                    <label for="filiere">Filières</label>
                    <%= f.collection_select :filiere_id, Filiere.order(:filiere), :id, :filiere, include_blank: true %>
                </fieldset>

                <fieldset class="form-group">
                    <label for="niveau">Niveaux</label>
                    <%= f.collection_select :niveau_id, Niveau.order(:niveau), :id, :niveau, include_blank: true %>
                </fieldset>

                <fieldset class="form-group">
                    <label for="place">Nombres de places</label>
                    <%= f.number_field :place %>
                </fieldset>

                <%= f.submit "Ajouter", class: "btn btn-primary" %>
                
            <% end %>
        </div>
    </div>
</section>
