<section class="container padding-top-3x">
  <h1 class="space-top-half tablet-center">Tout mes filières</h1>
</section><!-- .container-fluid -->

<section class="container padding-bottom-3x">
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                    <thead>
                        <th>Matière</th><th>Niveau</th><th>Nombre place</th><th></th>
                    </thead>
                    <tbody>
                    <% if @e_f_n != nil %>
                        <% @e_f_n.each do |list| %>
                        <tr>
                            <td><%= list.filiere.filiere %></td>
                            <td><%= list.niveau.niveau %></td>
                            <td><%= list.place %></td>
                            <% if user_signed_in? 
                                if current_user.role == "responsable"
                                    if list.etab == current_user.etab %>
                                        <td><%= link_to "Supprimer", etabs_filiere_path(list.id), method: :delete %></td>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </tr>
                        <% end %>
                    <% end %>
                    </tbody>
            </table>
        </div>    
    </div>
</section>

<section class="container padding-top-3x">
    <h1 class="space-top-half tablet-center">Ajouter plus</h1>
</section>

<%= form_for @etabs_filiere  do |f| %>
<div class="container">
    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-12 col-lg-10 col-xl-8">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="login">
                <form>
                   <div class="row login-row">
                        <div class="col">
                            Filiere              
                                <%= f.collection_select :filiere_id, Filiere.order(:filiere), :id, :filiere, {:include_blank => true}, {class: "form-control form-control-lg"} %>
                        </div>  
                    </div>
                    <div class="row login-row">
                        <div class="col">
                            Niveau         
                                <%= f.collection_select :niveau_id, Niveau.order(:niveau), :id, :niveau, {:include_blank => true}, {class: "form-control form-control-lg"} %>
                        </div>
                    </div>
                    <div class="row login-row">
                        <div class="col">
                            Nombre place         
                                <%= f.number_field :place, class: "form-control form-control-lg" %>
                        </div>
                    </div>
                </form>
                <%= f.submit "Ajouter filière", class: "btn btn-primary form-control form-control-lg" %>
                </div>
            </div>
        </div>
    </div>
<% end %>
</div>
