<%= form_for @inscription  do |f| %>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-md-12 col-lg-10 col-xl-8">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Etudiants</a></li>
              <li class="breadcrumb-item active" aria-current="page">Inscription</li>
            </ol>
          </nav>
          <div class="page-header">
            <h1>S'inscrire à un établissement</h1>
          </div>
        </div>
      </div>
    </div>
    <div id="content">
      <div class="container">
        <div class="row justify-content-md-center align-items-center">
          <div class="col col-md-12 col-lg-10 col-xl-8">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="login">
                <form>
                   <div class="row login-row">
                      <div class="col">
                        Province de votre établissement
                         <%= f.collection_select :province_id, Province.order(:province_name), :id, :province_name, {:include_blank => true}, {class: "form-control form-control-lg"}  %>
                      </div>
    
                      <div class="col">
                        Votre établissement
                         <%= f.collection_select :etablissement_id, Etablissement.order(:nom), :id, :nom, {:include_blank => true}, {class: "form-control form-control-lg"}  %>
                      </div>
                   </div>
                   <div class="row login-row">
    
                      <div class="col">
                        Filière
                         <%= f.collection_select :filiere_id, Filiere.order(:nom), :id, :nom, {:include_blank => true}, {class: "form-control form-control-lg"}  %>
                      </div>
    
                      <div class="col">
                        Rentrée
                         <%= f.collection_select :vague_id, Vague.order(:rentree), :id, :rentree, {:include_blank => true}, {class: "form-control form-control-lg"}  %>
                      </div>
                   </div>
    
                   <div class="row login-row">
                      <div class="col">
                        Niveau d'étude
                         <%= f.collection_select :level_id, Level.order(:niveau), :id, :niveau, {:include_blank => true}, {class: "form-control form-control-lg"}  %>
                      </div>
                   </div>
                   
                   <div class="row">
                      <div class="col">
                         <button type="submit" class="btn btn-primary btn-lg">S'inscrire</button>
                      </div>
                      <div class="col">
                      </div>
                   </div>
                </form>
              </div>
            </div>
            <div> </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <% end %>