<%= form_for @inscription  do |f| %>

<section class="col-md-offset-3 padding-left-right padding-top-3x">
    <h1 class="mobile-center">S'inscrire à un <span class="text-semibold">établissement</span></h1>
    <div class="row padding-top">
       <div class="col-sm-8">
          <!-- Nav Tabs -->
          
          <!-- .nav-tabs -->
          <!-- Tab Panes -->
          <div class="tab-content">
             <div role="tabpanel" class="tab-pane transition fade scale in active" id="profile">
                <form method="post">

                   <div class="form-element">
                      <label for="niveau">Ou se situe votre établissement</label>
                      <%= f.collection_select :province_id, Province.order(:province_name), :id, :province_name, {:include_blank => true}, {class: "form-control form-control-lg"}  %>
                   </div>

                   <div class="form-element">
                      <label for="niveau">Nom de votre établissement</label>
                      <%= f.grouped_collection_select :etab_id, Province.order(:province_name), :etabs, :province_name, :id, :nom_etab, {:include_blank => true}, {class: "form-control form-control-lg"}  %>
                   </div>

                   <div class="form-element">
                      <label for="niveau">Date de la rentrée</label>
                      <%= f.grouped_collection_select :vague_id, Etab.order(:nom_etab), :vagues, :nom_etab, :id, :debut_session, {:include_blank => true}, {class: "form-control form-control-lg"}  %>
                   </div>

                   <div class="form-element">
                      <label for="niveau">Filière</label>
                      <%= f.grouped_collection_select :filiere_id, Etab.order(:nom_etab), :filieres, :nom_etab, :id, :filiere, {:include_blank => true}, {class: "form-control form-control-lg"}  %>
                   </div>

                   <div class="form-element">
                      <label for="niveau">Niveau d'étude</label>
                      <%= f.grouped_collection_select :niveau_id, Filiere.order(:filiere), :niveaus, :filiere, :id, :niveau, {:include_blank => true}, {class: "form-control form-control-lg"}  %>
                   </div>

                   <div class="row">
                      <div class="col-sm-6">
                         
                      </div>
                      <div class="col-sm-6 text-right mobile-center"><br>
                         <button type="submit" class="btn btn-primary waves-effect waves-light">S'inscrire</button>
                      </div>
                   </div>

                </form>
             </div>
          </div>
          <!-- .tab-content -->
       </div>
       <!-- .col-sm-8 -->
    </div>
    <!-- .row -->
 </section>

<% end %>
<div class="marge-30px"></div>