<section class="container padding-top-3x">
  <h1 class="space-top-half tablet-center">Tout les élèves inscrit dans mon établissement</h1>
</section><!-- .container-fluid -->

<section class="container padding-bottom-3x">
    <div class="row">
        <div class="table-responsive">
        <table class="table">
            <thead>
                <th>Nom etudiant</th><th>Prenom etudiant</th><th>Filiere</th><th>Niveau</th><th>Debut Session</th><th>Fin Session</th><th></th><th></th>
            </thead>
            <tbody>
            <% @inscriptions.each do |f| %>
                <tr>
                    <td><%= f.user.name %></td>
                    <td><%= f.user.first_name %></td>
                    <td><%= f.filiere.filiere %></td>
                    <td><%= f.niveau.niveau %></td>
                    <td><%= Date.parse(f.vague.debut_session.to_s).strftime('%a %d %b %Y') %> </td>
                    <td><%= Date.parse(f.vague.fin_session.to_s).strftime('%a %d %b %Y') %> </td>
                    <td>
                        <% if f.valide == false %>
                            <a href="<%= edit_inscription_path(f.id) %>" class="btn btn-primary" >Valider</a>
                        <% else %>
                            <span>Inscrit/</span><span><a href="<%= edit_inscription_path(f.id) %>" >Annuler</a></span>
                        <% end %>
                    </td>
                    <td>
                        <a href="<%= inscription_path(f.id) %>" class="btn btn-danger" data-confirm="Êtes vous sur ?" data-method="DELETE">Supprimer</a>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
        </table>
    </div>
</section>
