
<script src="/js/newmap.js"></script>
<section class="container-fluid padding-top-3x">
   <!-- .row -->
   <div class="row padding-top">
<div class="container">
<%= form_for @etab, class:"form-horizontale" do |f| %>

    <div class="form-group">
        <label for="province">Province</label>
        <div class="form-element form-select">
        <select name="province" id="province" class="form-control form-control-lg">
            <% Province.all.each do |province| %>
                <option value="<%= province.id %>"><%= province.province_name %></option>
            <% end %>
        </select>
        </div>
    </div>

    <div class="form-group">
        <label for="image">Photo représentant votre établissement</label>
        <div class="input-file-container">
        <%= f.file_field :image, autofocus: true, class: "input-file" %>
        <label tabindex="0" for="image" class="input-file-trigger">Importer une photo...</label>
        </div>
        <p class="file-return"></p>
    </div>

    <div class="form-group">
        <label for="nom_etab">Nom de l'établissement</label>
        <%= f.text_field :nom_etab, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <%= f.email_field :email, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group">
        <label for="phone_number">Téléphone</label>
        <%= f.telephone_field :phone_number, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group">
        <label for="address">Adresse</label>
        <%= f.text_field :address, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group">
        <label for="category">Catégorie</label>
        <%= f.text_field :category, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group">
        <label for="description">Description de votre établissement</label>
        <%= f.text_area :description, class: "form-control form-control-lg text-editor" %>
    </div>

    <div class="form-group">
        <label>Latitude</label>
        <%= f.text_field :latitude, class: "form-control form-control-lg", readonly: "" %>
    </div>

    <div class="form-group">
        <label>Longitude</label>
        <%= f.text_field :longitude, class: "form-control form-control-lg", readonly: "" %>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary">Créer mon établissement</button>
    </div>

 <% end %>
 </div>
 </div>
 </section>
 <div id="newmap"></div>

 <!-- Script js pour l'upload file -->
 <script>
document.querySelector("html").classList.add('js');

var fileInput  = document.querySelector( ".input-file" ),  
    button     = document.querySelector( ".input-file-trigger" ),
    the_return = document.querySelector(".file-return");
      
button.addEventListener( "keydown", function( event ) {  
    if ( event.keyCode == 13 || event.keyCode == 32 ) {  
        fileInput.focus();  
    }  
});
button.addEventListener( "click", function( event ) {
   fileInput.focus();
   return false;
});  
fileInput.addEventListener( "change", function( event ) {  
    the_return.innerHTML = this.value;  
});  
</script>